<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Order Submitted</title>
<link rel="stylesheet" type="text/css" media="all"
href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
</head>
<body>

<div class="context">
		<div class="container">
	<h1>Order Submitted!</h1>
	<h3>
		If you would like to submit another order, please click <a href="/secure">HERE</a>!
	</h3>
	<h3>
		If you would like to print your receipt, please click <a
			href="/secure/receipt">HERE</a>!
	</h3>
	
	
	
	</div>
	</div>


<!--The following CSS code was used for the background animation and was retrieved from:

https://codepen.io/mohaiman/pen/MQqMyo -->

	<div class="area">
		<ul class="circles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>

</body>
</html>